     <nav class="navbar navbar-findcond navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="\img\logo.jpg">
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Messages<span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#">Reservations<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Edit Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="search parent" >
        <div class="container">
            <div class="form-group">
                <div class="row child">
                    <form method="get" action="/" class="form-inline">
                        <div class="input-group">
                            <!-- Search Box -->
                            <input id="q" name="q" class="span5 form-control" id="searchBox" type="text" placeholder="Where to?">
                        </div>
                        <div class="input-group">
                            <!-- First Date box -->
                            <input type="text" class="form-control" id="date1" uib-datepicker-popup ng-model="listings.df" is-open="listings.popup1.opened" datepicker-options="listings.dateOptions" ng-required="true" close-text="Close" alt-input-formats="listings.altInputFormats" />
                            <span class="input-group-btn" id="date1But">
                                    <button type="button" class="btn btn-default" ng-click="listings.open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                 </span>
                        </div>
                        <div class="input-group">
                            <!-- Second date box -->
                            <input type="text" class="form-control" id="date2" uib-datepicker-popup ng-model="listings.dt" is-open="listings.popup2.opened" datepicker-options="listings.dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn" id="date2But">
                            <button type="button" class="btn btn-default" ng-click="listings.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                        </div>
                        <div class="input-group" id="numGuestSelect">
                            <!-- Number of guests select -->
                            <select class="selectpicker" ng-model="listing.guests">
                                <option>1 Guest</option>
                                <option>2 Guests</option>
                                <option>3 Guests</option>
                                <option>4 Guests</option>
                                <option>5 Guests</option>
                                <option>6 Guests</option>
                                <option>7 Guests</option>
                                <option>8 Guests</option>
                                <option>9 Guests</option>
                                <option>10 Guests</option>
                                <option>11 Guests</option>
                            </select>
                        </div>
                        <div class="input-group" id="bttn">
                            <!-- Search button -->
                            <button type="submit" class="btn btn-primary glyphicon glyphicon-search"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-init="listings.getAllManagedHostels()">
        <div class="row">
            <div class="col-md-6">
                <div class="container text-center pulldown specific">
                    <div ng-repeat="hostel in listings.hostels">
                        <div class="col-md-6">
                            <div class="panel panel-default card" ng-click="listings.getInfo(hostel)" data-toggle="modal" data-target="#squarespaceModal">
                                <div class="panel-body text-center">
                                    <img class="img-responsive" src="{{hostel.Image}}" /> Description: {{hostel.Description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- line modal -->
    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title text-center" id="lineModalLabel">{{vm.hostelName}}</h3>
                </div>
                <div class="modal-body">
                    <!-- content goes here -->
                    <img class="img-responsive" src="{{vm.image}}" /><br><h3 class="text-center">{{vm.description}}</h3> <br> <b>Address:</b> {{vm.address}}<br><b>City:</b> {{vm.city}} <br><b>State:</b>  {{vm.state}} <br><b>Zip Code:</b> {{vm.zipCode}}   <br><b>Price:</b> ${{vm.price}} <br><b>State:</b> {{vm.state}}<br><b>Zip Code:</b>  {{vm.zipCode}} 
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default btn-hover-red" data-dismiss="modal" role="button">Close</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="saveImage" ng-click="state.go('wherever')" class="btn btn-default btn-hover-green" data-action="save" role="button">Proceed to Payment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>